- flash.each do |name, msg|
  - if msg.is_a?(String)
    #alert-message
      .container-fluid
        .row
          %div{ class: "alert alert-#{name}" }
            = link_to '#', class: 'close' do
              %i.fa.fa-times
            = content_tag :div, msg, id: "flash_#{name}"
